/*sets the link color*/
a {
    color: #2A9D8F; 
}

/*sets the width of sections on case study pages*/
#study {
width: 80%;
margin:auto;
}

/*indents bulleted list items*/
li {
    text-indent: 25px;
}

/*aligns discs in bulleted list items with beginning of paragraphs*/
ul:last-of-type {
    list-style-position: inside;
  }
